.wrapper{
  padding: 32px 28px 0px 28px;
}



/* ROW GRID */

.row{
  display:grid;
  grid-template-columns:repeat(4,1fr);

  gap:30px;

  margin-top:30px;
}


/* CARD */

.step{
  position:relative;
}

.step img{
  width:100%;
  aspect-ratio: 4 / 3;   /* controls exact shape */
  object-fit:cover;

  border-radius:3px;
  box-shadow:var(--shadow-card);
}


/* ARROW */

.arrow{
  position:absolute;

  right:-22px;
  top:50%;

  transform:translateY(-50%);

  width:0;
  height:0;

  border-top:12px solid transparent;
  border-bottom:12px solid transparent;
  border-left:13px solid #E87C2A;
}

/* HIDE LAST ARROW */

.step:last-child .arrow{
  display:none;
}


/* QUOTE */

.quote{
  margin-top:40px;

  text-align:center;

  font-family:var(--font-heading);

  color:var(--text-heading);

  font-size:26px;

  line-height:0.6;
margin-bottom: 30px;
  max-width:810px;

  margin-left:auto;
  margin-right:auto;
}

/* BIG QUOTES */

.qMark{
  font-size:60px;

  vertical-align:middle;

  margin:0 5px;

  color:var(--text-heading);
}