.wrapper {
  display: flex;

}

/* MAIN CONTENT */
.pageContent {
  width: 100%;
position: relative;
  z-index: 5;  
  /* margin-bottom: 40px; */
}

/* WHEN SIDEBAR IS COLLAPSED */
.collapsedContent {
  margin-left: 80px;
}
