.wrapper {
  display: flex;
  margin:10px 10px;
}

/* MAIN CONTENT */
.pageContent {
  margin-left: 240px;
  transition: margin-left 0.25s ease;
  width: 100%;
  margin-bottom: 40px;
}

/* WHEN SIDEBAR IS COLLAPSED */
.collapsedContent {
  margin-left: 64px;
}
