/* .sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 240px;
  background: #fbf1e6;
  display: flex;
  flex-direction: column;
  transition: width 0.25s ease;
  z-index: 1000;
  overflow: hidden;
} */


/* SIDEBAR */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 240px;
  background: #fbf1e6;
  display: flex;
  flex-direction: column;
  transition: width 0.25s ease;
  z-index: 1000;
  overflow: hidden;
}

/* MENU TAKES REMAINING SPACE */
.menu {
  list-style: none;
  padding: 3px 0;
  margin: 0;
  flex: 1;
}

/* FOOTER LOGO FIX */
.footerLogo {
  padding: 5px 8px;
  border-top: 1px solid rgba(0, 0, 0, 0.05);

  display: flex;
  justify-content: center;
  align-items: center;

  height: 72px;      
  flex-shrink: 0;     
  background: #fbf1e6;
  margin-bottom: 20px;
}

/* FOOTER IMAGE */
.footerLogo img {
  max-height: 70px;  
  width: auto;
  object-fit: contain;
}



.collapsed {
  width: 60px;
}





/* LOGO ROW */
.logoRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
}

.logo {
  height: 40px;
}

/* ARROW BUTTON */
.arrowBtn {
  background: #ffffff;
  border: 1px solid #ddd;
  width: 28px;
  height: 28px;
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* MENU */
/* .menu {
  list-style: none;
  padding: 8px 0;
  margin: 0;
  flex: 1;
} */

.menuLink {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 9px 16px;
  color: #3b3b3b;
  text-decoration: none;
  transition: background 0.2s;
}

.menuLink:hover {
  background: #f2e1cf;

}

.icon {
  font-size: 20px;
  min-width: 20px;
}

.menuLink span {
  white-space: nowrap;
}

/* ACTIVE */
.active .menuLink {
  background: #9b2c2c;
  color: #fff;
  border-radius: 6px;
  margin: 0px 4px;
}

/* FOOTER */
/* .footerLogo {
  padding: 12px;
  text-align: center;
} */
/* LAYOUT */
.layout {
  display: flex;
}

/* MAIN CONTENT */
.mainContent {
  margin-left: 240px;
  transition: margin-left 0.25s ease;
  width: 100%;
}

/* WHEN SIDEBAR IS COLLAPSED */
.collapsedLayout .mainContent {
  margin-left: 64px;
}
