/* ================= DASHBOARD CANVAS ================= */
.dashboardCanvas {
  position: absolute;
  inset: 0;
  z-index: 9999;
  pointer-events: none;

  background-image:
 url("/images/page3_bottom_right_logo.png"),
    url("/images/leaf_design.png"),
   url("/images/page3_bottom_right_logo.png"),
      url("/images/circle_design.png");

  background-repeat: no-repeat;
  background-position:
   top 10px left 0px,
    top 0px right 30px,
    bottom -30px right -60px,
      bottom 10px left 10px;

  background-size:
    90px auto,
    70px auto,
    260px auto,
    90px auto;

  opacity: 1; 
}

/* ================= DASHBOARD WRAPPER ================= */
.dashboardWrapper {
  position: relative;
  min-height: 100vh;
  padding: 32px 28px 0px 32px;

}

/* ================= GRID ================= */
.cardGrid{
  display:grid;
  grid-template-columns:1.5fr 1fr 1fr 1fr;
  gap:10px;
  margin-top:30px;
  justify-content:center;
  max-width:900px; 
  margin-left:auto;
  margin-right:auto;
}
.wp5{
  width: 200px !important;
}

/* ================= CARD ================= */

.termCard{

  background:var(--bg-card);

  border-radius:var(--radius-sm);

  padding:20px;

  box-shadow:var(--shadow-card);

  min-height:140px;

  transition:all .25s ease;
}



/* ================= TITLE ================= */

.termCard h3{

  font-family:var(--font-heading);
  color:var(--text-heading);
 font-weight: 500;
  font-size:18px;

  margin-bottom:8px;
}

/* ================= TEXT ================= */

.termCard p{

  font-family:var(--font-body);

  font-size:14px;

  line-height:1.6;
}

/* ================= NOTE ================= */

.note{

  margin-top:30px;

  text-align:center;

  font-family:var(--font-light);

  font-style: italic;
  font-size:13px;

  color:var(--text-muted);
}

/* ================= RESPONSIVE ================= */

@media(max-width:1200px){

.cardGrid{
grid-template-columns:repeat(3,1fr);
}

}

@media(max-width:900px){

.cardGrid{
grid-template-columns:repeat(2,1fr);
}

}

@media(max-width:600px){

.cardGrid{
grid-template-columns:1fr;
}

}

.dashboardContent{

max-width:1200px;
margin:auto;

}